<link rel="stylesheet" type="text/css" href="/css/reset_password.css">

<div class="container">
    <h1>Reset Password</h1>
    <form class="reset-password-form" action="/auth/reset?accessToken=<%=accessToken%>" method="POST">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm_password" required>
        <button type="submit">Reset Password</button>
    </form>
</div>